body {
    background-color: black;
    height: 100vh;
    width: auto;
    margin: 0;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 300px;
    height: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.close {
    opacity: 0;
    height: 30px;
    width: 80px;
}

.hide {
    opacity: 0;
}

.title {
    background-color: black;
    color: white;
    font-size: 36px;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-ind {
    background-color: black;
    color: white;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: black;
    height: 368px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.board {
    height: 368px;
    width: 368px;
    background-color: aqua;
}

#grid {
    height: 120px;
    width: 120px;
    border: 0;
    padding: 0;
}

.input {
    opacity: 0;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    height: 20px;
    width: 150px;
    color: black;
    background-color: white;
}

.input.gone {
    opacity: 0;
}

label {
    color: white;
}

.start-reset {
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    font-size: 18px;
    height: 30px;
    width: 80px;
    border: 2;
    padding: 2;
}