body {
    background-color: black;
    height: 100vh;
    width: auto;
    margin: 0;
}

.title {
    background-color: black;
    font-size: 36px;
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-ind {
    background-color: black;
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.board {
    height: 368px;
    width: 368px;
    background-color: aqua;
}

#grid {
    height: 120px;
    width: 120px;
    border: 0;
    padding: 0;
}

